.sudokuContainer {
    display: grid;
    width: fit-content; /* Automatically adjusts to fit the content */
    height: fit-content;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 4px solid white;
}

.input-cell {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default margin */
    margin-top: 10dvh;
    background-color: #222222; /* Optional: to match your theme */
}

.heading {
    color: white;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
}